@use "global" as g;

/* Les critères */
.critere{

    padding: g.$space_s;
    font-size: 16px;
    // border: 1px solid green;
    position: relative;  

    p{
      font-weight: 700;
      //border-top: 1px solid g.$col_gray;
      border-bottom: none;
      padding-top: g.$space_s;
      margin-bottom: g.$space_xs;
    }
  
    .facetwp-facet {
      margin-bottom: g.$space_s;
      padding: 0;
    
    
    }
    .facetwp-hidden,
    .facetwp-autocomplete-update{
      display: none !important;
    }

    .wp-block-group:first-child{
      margin-top: 0 !important;
    }
 
  }
  
  /* Pagination */
  .pager{
    padding: 0 !important;
  
    .facetwp-facet{
      padding: g.$space_xs g.$space_s;
    }
  }

  .facetwp-facet-pagination_1 {

    margin-top: g.$space_m;
    border-top: 1px solid g.$col_black;
    padding-top: g.$space_m;

    .facetwp-pager{
      margin: 0 auto;
      width: fit-content;

      a{
        font-size: 16px;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }

      a.active{
        border: 1px solid g.$col_black;
        border-radius: 15PX;
        padding: 5px 10px;
      }
    }

  }