/* Un peu de responsive pour les grilles */
@media (max-width: 1440px){
  #site-content  .fwpl-layout.el-xqzw08 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}
  


@media (max-width: 1280px){
    #site-content  .fwpl-layout.el-xqzw08 {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .page-id-71{
      .facet_grid{
        gap: 2rem;
      }
      .critere{
        flex-basis:25% !important;
      }
      .vue{
        flex-basis:75% !important;
      }
    }
    // #site-header{
    //     button{
    //         background-color: $col_white !important;
    //         color: $col_black !important;
    //     }
    // }
    .menu-wrapper.section-inner{
        width: 100vw;
    }
    button.close-nav-toggle{
        padding: 3.1rem 1rem;
    }

    #site-footer{
      margin-top: 5rem;
    }

    .single-toile #site-content .featured-media {
      grid-template-columns: 1fr;
      
        .toile-notice{
          order: 2;
        }
        
        .featured-media-inner{
          padding: 0;
          margin-bottom: 5rem;
        }
  }


}

@media (max-width: 500px){
  #site-content  .fwpl-layout.el-xqzw08 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}
  


@media (min-width: 700px){
  .singular .entry-header {
    padding: 6rem 0 0 0;
  }
  
  .footer-widgets-outer-wrapper {
      padding: 2rem 0;
  }
}
  
@media (min-width: 1220px){
    h1, .heading-size-1 {
    // font-size: 5.4rem;
    }
    .footer-widgets-outer-wrapper{
      max-width: 50vw;
    }
}
  
@media (min-width: 1000px){
    .entry-content > .alignwide:not(.wp-block-group.has-background), .entry-content > .alignfull:not(.wp-block-group.has-background) {
    margin-bottom: 4rem;
    margin-top: 4rem;
    }
}